.App {
  text-align: center;
}

input {
  max-width: 500px;
  width: auto;
  padding: 10px;
  margin:10px;
}

.headerBar {
  background-color:gray;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: flex-start;
  padding: 20px;
  color:white;
  height:100px;
}

.nav {
  color:white;
}

.nav a {
  color: white;
}

.nav li {
  margin: 0 10px;
}

.googleBtn {
  width: 225px;
  margin: 0 0 50px 0;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.googleBtn img {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 5px;
  vertical-align: middle;
}